<template name="fontAwesomeDemo">
	<label for="textinput-IconClass">Enter icon class (font-awesome or bootstrap / jQm icons not working here) e.g. type icon-wrench and press enter or click below:</label>
	<code style="font-size: 14px; line-height: 20px; padding-top:10px;word-wrap: break-word; min-width:290px;white-space: normal;"> &lt;i class="
		<input name="textinput-IconClass" id="textinput-iconclass" placeholder="Enter icon class" value="{{#if curIconClass.valid}} {{curIconClass.icon}} {{/if}}" type="text" data-enhance="false" size=20>"&gt;&lt;/i&gt;
  </code>
  <div id="iconWrapper">
	  {{#if curIconClass.valid}}
		  <p id="activeIconDesc"><i id="activeIcon" class="fa fa-2x {{curIconClass.icon}}"></i><span class="indent10px">{{curIconClass.icon}}</span></p>
	  {{else}}
	  	<div id="iconNotFound" class="alert alert-error">
	  		Icon '{{curIconClass.icon}}' not found in stylesheet.
	  	</div>
	  {{/if}}
	</div>
  <h2>bootstrap glyph icons</h2>
  <p><a href="http://glyphicons.com/" target="_blank">Glyphicons</a></p>
  {{#each iconsBootstrap}}
  	{{> iconItem}}
  {{/each}}

  <h2>Font-awesome 4.0.0 icons</h2>
  <p><a href="http://fontawesome.io" target="_blank">Font Awesome by Dave Gandy</a></p>
  {{#each fontawesomeIcons}}
		{{> iconItem}}
  {{/each}}
  <a data-icon="bars" data-shadow="false" data-iconshadow="false" data-iconpos="notext" class="ui-btn-left" data-theme="b"></a>
</template>

<template name="iconItem">
	<a href="#" class="iconBtn"><i class="fa fa-2x {{this}}" rel="tooltip" title="{{this}}"></i></a>
</template>