<template name="home">
  <div class="page-header">
  <h1>jQm Demo <small>Examples &amp; about the demo</small></h1>
  </div>
<div class="ui-grid-b ui-responsive">
    <div class="ui-block-a"><div class="ui-body ui-body-d">
      <h2>About the demo</h2>
      <p>There's already a <abbr title="jQuery mobile">jQm</abbr> demo on meteor but it's not working properly (probably a Meteor update has broken something).<br/>
      This demo shows many more features than the other demo that you can find <a href="http://jqm.meteor.com/" target="_blank">here</a>.
      <p>
        My demo page shows the usage of jQuery mobile in Meteor. jQuery mobile is loaded in a package that I've created. Page trigger is done with a Session variable in the rendered function of the layout template. The following packages are used:</p>
        <ul data-role="listview" data-inset="true">
          <li><a href="https://github.com/EventedMind/iron-router" target="_blank">iron-router</a></li>
          <li><a href="http://getbootstrap.com/2.3.2/" target="_blank">bootstrap</a></li>
          <li><a href="http://amplifyjs.com/" target="_blank">amplify</a></li>
          <li><a href="https://github.com/meteor/madewith" target="_blank">madeWith (+ customized badge)</a></li>
          <li><a href="http://docs.meteor.com/#accounts_api" target="_blank">accounts-*</a></li>
          <li><a href="http://jquery.com/" target="_blank">jQuery</a></li>
          <li><a href="http://jquerymobile.com/" target="_blank">jQuery mobile</a></li>
          <li><a href="http://underscorejs.org/" target="_blank">underscore</a></li>
        </ul>
      <h3>Source code</h3>
      <p>
        You can find the git repository of this demo at <a href="http://bitbucket.org/awolf2904/jquerymobiledemo/" target="_blank">bitbucket</a>.
      </p>
      <p>
        Please have a look at the source code. Clone / fork or do what ever you like.
        If you've found a bug, please add it to the issue section of my bitbucket repo. Then I can try to improve the code.
        If you think something of the code can be improved please send me a link of the improved fork and I can check it or you can write it to the issues as enhancement.
      </p>
      <div class="well">
        This about section is in a responsive grid with three collumns from jQuery mobile. You can also use "Twitter" bootstrap (this text is inside a bootstrap "well").
      </div>

    </div></div>
    <div class="ui-block-b">
      <div class="ui-body ui-body-d">
        <h2>Block B - Accordions / collapsibles</h2> 
        <p>Nothing special here, just showing these elements.</p>
        <div data-role="collapsible-set" data-theme="c" data-content-theme="d">
          <div data-role="collapsible">
            <h3>Section 1</h3>
            <p>I'm the collapsible content for section 1</p>
          </div>
          <div data-role="collapsible">
            <h3>Section 2</h3>
            <p>I'm the collapsible content for section 2</p>
          </div>
          <div data-role="collapsible">
            <h3>Section 3</h3>
            <p>I'm the collapsible content for section 3</p>
          </div>
        </div>

        <div data-role="collapsible" data-theme="b" data-content-theme="d" data-inset="false">
          <h3>Pets</h3>
          <ul data-role="listview">
            <li><a href="#">Canary</a></li>
            <li><a href="#">Cat</a></li>
            <li><a href="#">Dog</a></li>
            <li><a href="#">Gerbil</a></li>
            <li><a href="#">Iguana</a></li>
            <li><a href="#">Mouse</a></li>
          </ul>
        </div><!-- /collapsible -->
        <div data-role="collapsible" data-theme="b" data-content-theme="d" data-inset="false">
          <h3>Farm animals</h3>
          <ul data-role="listview">
            <li><a href="#">Chicken</a></li>
            <li><a href="#">Cow</a></li>
            <li><a href="#">Duck</a></li>
            <li><a href="#">Horse</a></li>
            <li><a href="#">Pig</a></li>
            <li><a href="#">Sheep</a></li>
          </ul>
        </div><!-- /collapsible -->
        <div data-role="collapsible" data-theme="b" data-content-theme="d" data-inset="false">
          <h3>Wild Animals</h3>
          <ul data-role="listview">
            <li><a href="#">Aardvark</a></li>
            <li><a href="#">Alligator</a></li>
            <li><a href="#">Ant</a></li>
            <li><a href="#">Bear</a></li>
            <li><a href="#">Beaver</a></li>
            <li><a href="#">Cougar</a></li>
            <li><a href="#">Dingo</a></li>
          </ul>
        </div><!-- /collapsible -->

      </div></div>
    <div class="ui-block-c"><div class="ui-body ui-body-d">
      <h2>Block C - Form elements</h2>
      <p>Stored with amplify in local storage. Could be easily adapted to save the data in a collection.</p>
      <a href="" data-role="button" data-icon="refresh" id="btnReset">Reset form elements</a> 
      <fieldset data-role="controlgroup">
        <legend>Radio buttons, vertical controlgroup:</legend>
        <input name="radio-choice-1" id="radio-choice-1" value="choice-1" checked="checked" type="radio">
        <label for="radio-choice-1">Cat</label>
        <input name="radio-choice-1" id="radio-choice-2" value="choice-2" type="radio">
        <label for="radio-choice-2">Dog</label>
        <input name="radio-choice-1" id="radio-choice-3" value="choice-3" type="radio">
        <label for="radio-choice-3">Hamster</label>
        <input name="radio-choice-1" id="radio-choice-4" value="choice-4" type="radio">
        <label for="radio-choice-4">Lizard</label>
      </fieldset>

      <label for="slider-fill-mini">Slider with fill, mini, track theme:</label>
      <input name="slider-fill-mini" id="slider-fill-mini" value="40" min="0" max="100" data-mini="true" data-highlight="true" data-theme="b" data-track-theme="d" type="range">

      <label for="slider2">Flip switch:</label>
      <select name="slider2" id="slider2" data-role="slider">
          <option value="off">Off</option>
          <option value="on">On</option>
      </select>

      <fieldset data-role="controlgroup" id="checkboxes">
          <legend>Checkboxes, vertical controlgroup:</legend>
          <input name="checkbox-1a" id="checkbox-1a" type="checkbox">
          <label for="checkbox-1a">Cheetos</label>
          <input name="checkbox-2a" id="checkbox-2a" type="checkbox">
          <label for="checkbox-2a">Doritos</label>
          <input name="checkbox-3a" id="checkbox-3a" type="checkbox">
          <label for="checkbox-3a">Fritos</label>
          <input name="checkbox-4a" id="checkbox-4a" type="checkbox">
          <label for="checkbox-4a">Sun Chips</label>
      </fieldset>

      <label for="textinput-2">Text Input:</label>
      <input name="textinput-2" id="textinput-2" placeholder="Text input" value="" type="text">

      <label for="textarea-2">Textarea (multi-line):</label>
      <textarea cols="40" rows="8" name="textarea-2" id="textarea-2">Textarea</textarea>

    </div></div>
</div><!-- /grid-b -->
</template>