<template name="popupDemo">
  <div class="alert alert-error">
    The popups are not working yet!!
  </div>
	<a href="#popupBasic" data-rel="popup" data-role="button" data-inline="true" data-transition="pop" class="openPop">Basic Popup</a>
	<div data-role="popup" id="popupBasic">
	    <p>This is a completely basic popup, no options set.</p>
	</div>

	<a href="#popupLogin" data-rel="popup" data-position-to="window" data-role="button" data-inline="true" data-icon="check" data-theme="a" data-transition="pop">Sign in</a>
	<div data-role="popup" id="popupLogin" data-theme="a" class="ui-corner-all">
	    <form>
	        <div style="padding:10px 20px;">
	            <h3>Please sign in</h3>
	            <label for="un" class="ui-hidden-accessible">Username:</label>
	            <input name="user" id="un" value="" placeholder="username" data-theme="a" type="text">
	            <label for="pw" class="ui-hidden-accessible">Password:</label>
	            <input name="pass" id="pw" value="" placeholder="password" data-theme="a" type="password">
	            <button type="submit" data-theme="b" data-icon="check">Sign in</button>
	        </div>
	    </form>
	</div>
</template>