<head>
  <title>jQueryMobileDemo</title>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="favicon.ico">
</head>

<body>
</body>


