<template name="notifications">
	{{#if notificationCount}}
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" rel="tooltip"
			title="{{notificationTooltip}}" data-inline="true" id="notificationDrop">
			Notifications
			{{!#if notificationCount}}
				<span class="badge badge-inverse">
					{{notificationCount}}
				</span>
			{{!/if}}
			<!-- <b class="caret"></b> -->
		</a>

		<ul class="notification dropdown-menu" role="menu" data-enhance="false" aria-labelledby="notificationDrop">
			{{#if notificationCount}}
				{{#each curNotifications}}
					{{> notification }}
					{{!postId}}
				{{/each}}
			{{else}}
				<li><span>No Notifications</span></li>
			{{/if}}
		</ul>
	{{/if}}
</template>

<template name="notification">
	<li>
		<a href="{{pathFor 'postDetails' _id = this.postId}}" title="show commented post" rel="tooltip">
			<strong>{{commenterName}}</strong> commented on your post <strong>{{commentedPostName}}</strong>
		</a>
	</li>
</template>