<template name="topPostNav">
  <ul class="nav nav-pills" data-enhance="false">
    <li class="{{activeRouteClass 'newPosts'}}">
      <a href="{{pathFor 'newPosts'}}" title="show new posts" rel="tooltip">New</a>
    </li>
    <li class="{{activeRouteClass 'bestPosts'}}"><a href="{{pathFor 'bestPosts'}}" title="show best voted posts" rel="tooltip">Best</a></li>
    {{#if currentUser}}
    <li class="{{activeRouteClass 'postSubmit'}}"><a href="{{pathFor 'postSubmit'}}" title="submit new post" rel="tooltip">Submit Post</a></li>
    {{/if}}
  </ul>
</template>