/* welcome message */
.welcomeMsg {
    margin-top: 30px !important;
}

.comment-form .controls {
    text-align: left;
}
.comment-form .ui-input-text {
    min-width: 200px !important;
    width: 100%;
}

/* indent used in icon demo for description text*/
.indent10px {
    padding-left:10px;
}

/*.post-list .ui-li-heading {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
*/    /*border: 1px solid black;*/
/*    white-space: normal;
    line-height: 20px;
}*/

/*.post-list .ui-li-desc {
    margin: 0;
    width: auto;
    padding: 0 20px 0 20px;
    bottom: 70px;
    line-height: 1.5;
    text-overflow: ellipsis;
    overflow: hidden;
}*/

.centertext {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.center-wrapper {
    text-align: center;
    max-width: 800px;
    margin:0 auto;
    margin-left:auto;
    margin-right:auto;
    align:center;
    text-align:center;
}

.btnRightPanel {
    z-index: +20;
}

.popover-content {
    padding: 9px 14px;
    font-weight: normal;
    color: black;
    text-shadow: 0 1px 0 #3E6790;

/*
    background: linear-gradient(#6FACD5, #497BAE) repeat scroll 0 0 #5E87B0; 
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    display: block;
*/
}

.noUnderscore:hover, .nounderline:hover {
    text-decoration:none;
}

.ui-tooltip
{
    /* tooltip container box */
    max-width: 100px !important;
}
.ui-tooltip-content
{
    /* tooltip content */
    max-width: 100px !important;
}

/* Adjust the width of the left reveal menu.
Copy all CSS from jquery.mobile.panel.css and delete the properties other than width, left, right and transform.
Then delete the selectors/rules for display modes (reveal/push/overlay) and the position (left/right) that you don't use.
If you don't use fixed toolbars on your page you can delete those selectors as well.
Narrow the scope of the selectors to prevent other panels being affected by the overrides. */
#jQueryPage #left-panel.ui-panel {
    width: 17em;
}
#jQueryPage #left-panel.ui-panel-closed {
    width: 0;
}
#jQueryPage .ui-panel-position-left.ui-panel-display-reveal {
    left: 0;
}
#jQueryPage .ui-panel-content-wrap-position-left.ui-panel-content-wrap-open,
.ui-panel-dismiss-position-left.ui-panel-dismiss-open {
    left: 17em;
    right: -17em;
}
#jQueryPage .ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal {
    left: 0;
    right: 0;
    -webkit-transform: translate3d(17em,0,0);
    -moz-transform: translate3d(17em,0,0);
    transform: translate3d(17em,0,0);
}
/* Combined listview collapsible menu. */
/* Unset negative margin bottom on the listviews. */
#left-panel .ui-panel-inner > .ui-listview { margin-bottom: 0; }
/* Unset top and bottom margin on collapsible set. */
#left-panel .ui-collapsible-set { margin: 0; }
/* The first collapsible contains the collapsible set. Make it fit exactly in the collapsible content. */
#left-panel .ui-panel-inner > .ui-collapsible > .ui-collapsible-content { padding-top: 0; padding-bottom: 0;  border-bottom: none; }
/* Remove border top if a collapsible comes after a listview. */
#left-panel .ui-panel-inner  > .ui-collapsible > .ui-collapsible-heading .ui-btn,
#left-panel .ui-collapsible.ui-first-child .ui-collapsible-heading .ui-btn { border-top: none; }
/* Give the first collapsible heading the same padding, i.e. same height, as the list items. */
#left-panel .ui-collapsible-heading .ui-btn-inner { padding: .7em 40px .7em 15px; }
/* Give the other collapsible headings the same padding and font-size as the list divider. */
#left-panel .ui-collapsible-set .ui-collapsible-heading .ui-btn-inner { padding: .5em 40px .5em 15px; font-size: 14px; }
/* Styling of the close button in both panels. */
#jQueryPage .ui-panel-inner > .ui-listview .ui-first-child {
    background: #eee;
}
/* Reveal menu shadow on top of the list items */
#jQueryPage .ui-panel-display-reveal {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#jQueryPage .ui-panel-content-wrap-position-left {
    -webkit-box-shadow: -5px 0px 5px rgba(0,0,0,.15);
    -moz-box-shadow: -5px 0px 5px rgba(0,0,0,.15);
    box-shadow: -5px 0px 5px rgba(0,0,0,.15);
}

/* Use the ui-body class of your page theme (ui-body-d in this demo) to set a background image.
This class will be added to the content wrapper, while the page itself gets the same background
as the panel before opening the panel. */
#jQueryPage .ui-body-d {
    background-image: url(../../_assets/img/bg-pattern.png);
    background-repeat: repeat-x;
    background-position: left bottom;
    /*min-width: 290px;*/
}
/* Styling of the page contents */
.article p {
    margin: 0 0 1em;
    line-height: 1.5;
}
.article p img {
    max-width: 100%;
}
.article p:first-child {
    text-align: center;
}
.article small {
    display: block;
    font-size: 75%;
    color: #c0c0c0;
}
.article p:last-child {
    text-align: right;
}
.article a.ui-btn {
    margin-right: 2em;
    -webkit-border-radius: .4em;
    border-radius: .4em;
}
@media all and (min-width:769px) {
    .article {
        max-width: 994px;
        margin: 0 auto;
        padding-top: 4em;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 2em;
        -moz-column-gap: 2em;
        column-gap: 2em;
    }
    /* Fix for issue with buttons and form elements
    if CSS columns are used on a page with a panel. */
    .article a.ui-btn {
        -webkit-transform: translate3d(0,0,0);
    }

    /* move msg a bit to the left because of Madewith badge */
    .welcomeMsg {
        margin-right: 30px !important;
    }

    .ui-tooltip
    {
        /* tooltip container box */
        max-width: 600px !important;
    }
    .ui-tooltip-content
    {
        /* tooltip content */
        max-width: 600px !important;
    }
}