/* A bit custom styling */
.posts-page {
background: #DBE2F1;
min-width: 290px;
}
/* Link to the Google webfont is in the head */
.posts-page .ui-title, .posts-page .ui-li-aside {
font-family: 'Open Sans', sans-serif;
font-weight: 400;
}
.posts-page .ui-header {
color: #990099;
}

.posts-page .ui-footer {
color: #666;
}
.posts-page .ui-li-desc {
color: #c0c0c0;
}
.posts-page .ui-li-aside {
color: #990099;
}
.posts-page .ui-listview .ui-li.ui-btn {
background-image: none;
border-color: #222;
}

.posts-page .ui-listview ul {
	display: table;
}

.posts-page .domain, .posts-page .date {
font-size: 12px;
font-weight: normal;
font-style: italic;
padding-left: 15px;
word-break:break-all;
word-wrap: break-word;
overflow:visible;
} 

.postedit-page .domain {
font-size: 12px;
font-weight: normal;
font-style: italic;
word-wrap: break-word;
overflow:visible;
} 
.posts-page .comments li {
padding: 10px;
}

.posts-page .date {
padding-top: 5px;
padding-left: 0;
}

/*----------------------*/
.posts-page .ui-listview .ui-btn-inner,
.posts-page .ui-listview .ui-btn-text,
.posts-page .ui-listview .ui-link-inherit,
.posts-page .ui-listview .ui-li-thumb {
	width: 100%;
	height: 100%;
	min-width: 200px;
}

.posts-page .ui-listview .ui-link-inherit {
	padding: 0 !important;
	position: relative;
}

/* Text position */
.posts-page .ui-listview .ui-li-heading {
	width: 70%;
	max-height: 50%;
	margin: 0;
	padding: 10px 5px 10px 15px;
	line-height: 1.1;
	word-wrap: break-word;
	overflow:hidden;
}

.postedit-page .ui-listview .ui-li-heading {
	width: 100%;
	margin: 0;
	line-height: normal;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: normal;
	word-wrap: break-word;
}

.posts-page .ui-listview .ui-li-desc, .postedit-page .ui-listview .ui-li-desc {
	margin: 0;
	padding-left: 15px;
	bottom: 20px;
	line-height: 15px;
	padding-bottom: 5px;
}

.postedit-page .commentHeading{
	padding: 0;
	margin: 0;
}

.posts-page .body p, .postedit-page .body p{
	padding-top: 5px;
	font-size: 16px;
	background: lightgray;
	color: blue;
	word-wrap: break-word;
	white-space: pre-wrap;
	height: 100%;
}

.editPostTools {
	position: absolute;
	top: 25px;
	right: 10px;
	padding-top: 10px;
}

/* ui-li-aside has class .ui-li-desc as well so we have to override some things. */
.posts-page .ui-listview .ui-li-desc.ui-li-aside, .postedit-page .ui-listview .ui-li-desc.ui-li-aside{
	padding: 2px 10px;
	width: 20%;
	min-height: 0;
	top: 0;
	right: auto;
	bottom: auto;
	z-index: +1;
	/* Custom styling. */
	color: #c0c0c0;
	background: #990099;
	background: rgba(153,0,153,.85);
	-webkit-border-top-right-radius: inherit;
	border-top-right-radius: inherit;
	-webkit-border-bottom-left-radius: inherit;
	border-bottom-left-radius: inherit;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
}

.notification li a {
	width: 240px;
	height: 40px;
	line-height: 15px;
	overflow: hidden;
	word-wrap: break-word;
	white-space: normal;
}

.notification {
	max-height: 270px;
	overflow-y: auto;
}
/*----------------------------------*/
/* First breakpoint is 768px. 3 column layout. Tiles 250x250 pixels at the breakpoint. */
@media all and (min-width: 768px){
	.posts-page .ui-content {
		padding: 9px;
	}
	.notification li a {
		width: auto;
		height: auto;
		overflow-y: auto;
	}

	.notification ul {
		max-height: 400px;
	}

	.posts-page .ui-listview .ui-li.ui-btn {
		float: left;
		width: 30.9333%; /* 33.3333% incl. 2 x 1.2% margin */
		height: 232px;
		margin: 9px 1.2%;
		border-width: 0; /* The 1px border would break the layout so we set it on .ui-btn-inner instead. */
	}
	/* If you don't want a border at all, just set "border: none;" here to negate the semi white top border */
	.posts-page .ui-listview .ui-li.ui-btn-inner {
		border: inherit;
		border-width: 1px;
		margin: -1px;
	}
	.posts-page .ui-listview .ui-btn-inner,
	.posts-page .ui-listview .ui-btn-text,
	.posts-page .ui-listview .ui-link-inherit,
	.posts-page .ui-listview .ui-li-thumb {
		width: 100%;
		/*height: 100%;*/
		display: block;
		overflow: hidden;
	}
	.posts-page .ui-listview .ui-link-inherit {
		padding: 0 !important;
		position: relative;
	}
	/* Inherit the border-radius from the UL that has class .ui-corner-all in case of an inset listview. */
	.posts-page .ui-listview .ui-li,
	.posts-page .ui-listview .ui-btn-text,
	.posts-page .ui-listview .ui-link-inherit,
	.posts-page .ui-listview .ui-li-thumb {
		-webkit-border-radius: inherit;
		border-radius: inherit;
	}
	.posts-page .ui-listview .ui-li-thumb {
		height: auto; /* To keep aspect ratio. */
		max-width: 100%;
		max-height: none;
		margin: 0;
		left: 0;
		z-index: -1;
	}

	/* custom styling of button bar on tile */
	.posts-page .button-bar {
		position: absolute;
		text-align: center;
		margin: 0 auto;
		bottom: 24px;
		width: 100%;
	}

	.posts-page .icon-comments:hover {
		color: #8080FF;
	}

	.posts-page .load-more {
		margin-top: 30%;
		/*margin: auto;*/
		/*top:0;
		bottom:0;*/
		/*margin-top:auto;
		margin-bottom: auto;*/
	}
/* Hide the icon */
.posts-page .ui-listview .ui-icon {
	display: none;
}
/* Make text wrap. */
.posts-page .ui-listview .ui-li-heading,
.posts-page .ui-listview .ui-li-desc {
	white-space: normal;
	overflow:hidden;
	/*position: absolute;
	left: 0;
	right: 0;*/
}
/* Text position */
.posts-page .ui-listview .ui-li-heading, .postedit-page .ui-listview .ui-li-heading{
	word-wrap: break-word;
}
.posts-page .ui-listview .ui-li-desc, .postedit-page .ui-listview .ui-li-desc{
	margin: 0;
	padding: 0 20px 0 15px;
/*	bottom: 70px;*/
	/*line-height: 1.5;*/
	text-overflow: ellipsis;
	overflow: hidden;
}
/* Semi transparent background and different position if there is a thumb */
.ui-listview .ui-li-has-thumb .ui-li-heading,
.ui-listview .ui-li-has-thumb .ui-li-desc {
	background: #111;
	background: rgba(0,0,0,.8);
	-webkit-background-clip: padding;
	background-clip: padding-box;
}
.ui-listview .ui-li-has-thumb .ui-li-heading {
	padding: 10px;
	bottom: 20%;
}
.ui-listview .ui-li-has-thumb .ui-li-desc {
	padding: 0 10px;
	min-height: 20%;
	-webkit-border-bottom-left-radius: inherit;
	border-bottom-left-radius: inherit;
	-webkit-border-bottom-right-radius: inherit;
	border-bottom-right-radius: inherit;
}
/* ui-li-aside has class .ui-li-desc as well so we have to override some things. */
/* disabled here because it is added to global style */
/*.posts-page .ui-listview .ui-li-desc.ui-li-aside {
	padding: 2px 10px;
	width: auto;
	min-height: 0;
	top: 0;
	right: auto;
	bottom: auto;
	z-index: +1;*/
	/* Custom styling. */
	/*color: #c0c0c0;
	background: #990099;
	background: rgba(153,0,153,.85);
	-webkit-border-top-right-radius: inherit;
	border-top-right-radius: inherit;
	-webkit-border-bottom-left-radius: inherit;
	border-bottom-left-radius: inherit;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	}*/
	/* If you want to add shadow, don't kill the focus style. */ 
	.posts-page .ui-listview .ui-btn:not(.ui-focus) {
		-moz-box-shadow: 0px 0px 9px #111;
		-webkit-box-shadow: 0px 0px 9px #111;
		box-shadow: 0px 0px 9px #111;
	}
	/* Images mask the hover bg color so we give desktop users feedback by applying the focus style on hover as well. */
	.posts-page .ui-listview .ui-btn:hover {
		-moz-box-shadow: 0px 0px 12px #387bbe;
		-webkit-box-shadow: 0px 0px 12px #387bbe;
		box-shadow: 0px 0px 12px #387bbe;
	}
	/* Animate focus and hover style, and resizing. */ 
	.posts-page .ui-listview .ui-btn {
		-webkit-transition: all 500ms ease;
		-moz-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		-ms-transition: all 500ms ease;
		transition: all 500ms ease;	
	}
}
/* Second breakpoint. 4 column layout. Tiles will be 250x250 pixels again at the breakpoint. */
@media all and (min-width: 1020px){
	.posts-page .ui-content {
		padding: 10px;
	}
/* Set a max-width for the last breakpoint to prevent too much stretching on large screens.
By setting the max-width equal to the breakpoint width minus padding we keep square tiles. */
.posts-page .ui-listview .ui-listview-filter{
	max-width: 1000px;
	margin: 0 auto;
}
/* Because of the 1000px max-width the width will always be 230px (and margin left/right 10px),
but we stick to percentage values for demo purposes. */
.posts-page .ui-listview .ui-li.ui-btn {
	width: 23%;
	/*height: 230px;*/
	margin: 10px 1%;
}
}

/* For this demo we used images with a size of 310x310 pixels. Just before the second breakpoint the images reach their max width: 1019px - 2 x 9px padding = 1001px x 30.9333% = ~310px */