<template name="postSubmit">
	{{> topPostNav }}
	<form>
		<ul data-role="listview" data-inset="true" data-filter="false">
			<li data-role="fieldcontain">
				<label for="url">URL</label>
				<input name="url" id="url" type="text" value="" placeholder="Your URL"/>
			</li>
			<li data-role="fieldcontain">
				<label for="title">Title</label>
				<input name="title" id="title" type="text" value="" placeholder="Name your post"/>
			</li>
			<li data-role="fieldcontain">
				<label for="message">Message</label>
				<textarea name="message" id="message" type="text" value=""/>
			</li>
			<li data-role="fieldcontain">
			  <input type="submit" value="Submit" class="btn btn-primary"/>
			</li>
		</ul>
	</form>
</template>