<template name="bestPosts">
	{{> postsList options}}
</template>

<template name="newPosts">
	{{> postsList options}}
</template>

<template name="postsList">
  {{> topPostNav }}
	<ul data-role="listview" data-inset="true" data-filter="true" class="post-list">
		{{#each posts}}
			{{>postItem}}
	  {{/each}}
	{{#if postsReady}}
	 		{{#unless allPostsLoaded}}
		 		<li data-theme="c">
					<a class="load-more text-center" href="#">Load more</a>
		 		</li>
	 		{{/unless}}
		{{/if}}
	</ul>
</template>

<template name="notFound">
	<div>
		Sorry, not found the post you're looking for.
	</div>
</template>