<template name="postDetails">
	<div class="center-wrapper">
		{{#with post}}
			<ul data-role="listview" data-icon="false" data-inset="true" data-filter="false">
					{{> postItem}}
			</ul>
			<ul data-role="listview" data-inset="true" class="comments">
				{{#each comments}}
					{{> comment}}
				{{/each}}
			</ul>
			{{#if currentUser}}
				 {{> commentSubmit}}
			{{else}}
				<p>Please log in to leave a comment.</p>
			{{/if}}
		
		{{/with}}
	</div>
</template>

<template name="postDetailsHeader">
        <div class="ui-bar ui-bar-a">
                <a href="{{pathFor 'posts'}}" data-role="button" data-theme="a" data-icon="back" data-inline="true" data-mini="true">Back</a>
                <h1>Post details</h1>
        </div>
</template>

<template name="postDetailsFooter">
        
</template>