<template name="postEditToolbar">
	<div class="editPostTools">
	  <div class="btn-group btn-group-vertical">
				<a class="btn" rel="tooltip" href="{{pathFor 'postEdit' this}}" title="edit post"><i class="icon-pencil"></i></a>
				<a class="btn" rel="tooltip" id="btnRemovePost" href="#" title="delete post"><i class="icon-remove"></i></a>
		</div>
	</div>
</template>