<template name="postItem">
	<li>
		<a href="{{url}}" target="_blank" rel="tooltip" title="{{title}} - {{domain}}">

		  	<h2 class="ellipsis">{{title}}</h2><em class="domain">{{domain}}</em>
		</a>
		<p class="ui-li-aside">{{pluralize votes "Vote"}}</p>
		<p>submitted by {{author}}</p>
		<div class="button-bar">
			<a href="{{pathFor 'postDetails'}}" rel="tooltip" title="leave a comment" class="btn btn-link nounderline">
				<i class="icon-comments icon-2x">
				<span class="badge badge-inverse">{{commentsCount}}</span></i>
			</a>    
			<a href="#" class="upvote btn {{upvotedClass}}"  rel="tooltip" title="Up vote post."><i class="icon-thumbs-up"></i></a>
			{{#unless singlePost }}
			<a href="{{pathFor 'postDetails'}}" class="discuss btn" rel="tooltip" title="discuss"><i class="icon-coffee"></i> Discuss</a>
			{{/unless}}
		</div>
		{{!#if currentUser}}
		 		{{#if ownPost}}
		 			{{> postEditToolbar}}
		 		{{/if}}
		 	{{!/if}}
	</li>
</template>