<template name="postEdit">
	{{#with post}}
		<form class="main">
			<div class="contol-group">
				<label class="control-label" for="url">URL</label>
				<div class="controls">
					<input name="url" type="text" value="{{url}}" placeholder="Your URL"/>
				</div>
			</div>

			<div class="contol-group">
				<label class="control-label" for="title">Title</label>
				<div class="controls">
					<input name="title" type="text" value="{{title}}" placeholder="Name your post"/>
				</div>
			</div>

			<div class="contol-group">
				<label class="control-label" for="message">Message</label>
				<div class="controls">
					 <textarea name="message" type="text">{{message}}</textarea>
				</div>
			</div>

			<div class="control-group">
	        <div class="controls">
	            <input type="submit" value="Submit" class="btn btn-primary"/>
	            <input type="button" class="btn cancel" value="Back"/>
	        </div>
	    </div>

	    <hr/>

	    <div class="control-group">
	        <div class="controls">
	            <a class="btn btn-danger delete" href="#">Delete post</a>
	        </div>
	    </div>

		</form>
	{{/with}}
</template>