<template name="defaultHeader">
  <div class="ui-bar ui-bar-a" style="overflow:visible">
    	<h1 class="">{{title}}</h1>
	    {{#if currentUser}}
			    {{>notifications}}
	    {{/if}}
	    <div class="ui-btn">
		    {{!loginButtons}}
		 	</div>
		 	{{#if currentUser}}
			 	<div class="ui-btn ui-btn-right welcomeMsg">
			 		<a href="#right-panel" data-icon="user" data-shadow="false" data-iconshadow="false" data-iconpos="notext" class="btnRightPanel" data-theme="b" data-inline="true">Welcome {{currentUser.username}}</a>
			 	</div>
			{{/if}}
  </div>
</template>