<template name="commentSubmit">
	<form name="comment" class="comment-form">
		<div class="control-group">
			<div class="controls">
				<label for="body">Comment on this post</label>
				<textarea name="body"></textarea>
			</div>		
		</div>

		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn addComment">Add Comment</button>
			</div>		
		</div>
	</form>
	<!-- <button class="btn scrollTest">scrolltest</button>
 -->
</template>