<template name="comment">
	<li>
		<h4 class="commentHeading">
			<span class="author">{{author}} wrote</span>
			<span class="date">on {{readableDate submitted}}</span>
		</h4>
		<div class="body"><p>{{body}}</p></div>
	</li>
</template>