<template name="layout">
  <div data-url="jQueryPage" data-role="page" id="jQueryPage" data-theme="d" data-theme="d"  class="ui-responsive-panel {{page_cls}}">
    <div data-role="header" data-theme="b" data-position="fixed">
    <!--<div class="ui-header ui-bar-a" data-role="header" role="banner">-->
            <a href="#left-panel" data-icon="bars" data-shadow="false" data-iconshadow="false" data-iconpos="notext" class="ui-btn-left" data-theme="b">Menu</a>
            <h1><a href="{{pathFor 'home'}}" data-role="button" data-icon="home" data-theme="b" data-iconshadow="false" data-inline="true" data-iconpos="notext"data-iconpos="notext" data-rel="tooltip" title="home"></a>jQm Demo</h1>
            <div id="madewith_wrapper">
              {{> madewith}}
            </div>
            
            <a href="#right-panel" data-icon="arrow-r" data-shadow="false" data-iconshadow="false" data-iconpos="notext" class="btnRightPanel ui-btn-right" data-theme="b" id="btnLogin">Login</a>
      <!--sub header -->
        {{yield "header"}}
      <!--/sub header -->
    </div><!-- /header -->
    <div data-role="content" class="{{content_cls}}">
        <div style="width:80%" class="centertext">
          {{>meteorErrors}}
        </div>
        {{yield}}
    </div><!-- /content -->
    
    <div data-role="footer">
      {{yield 'footer'}}
    </div>

    <div data-role="panel" id="left-panel" data-theme="c" data-position-fixed="true">
        <ul data-role="listview" data-theme="d">
            <li data-icon="delete"><a href="#" data-rel="close">Close</a></li>
            <li data-role="list-divider">Menu</li>
            <li data-icon="edit"><a href="{{pathFor 'posts'}}" data-rel="back">Show posts</a></li>
        </ul>
        <div data-role="collapsible" data-inset="false" data-iconpos="right" data-theme="d" data-content-theme="d">
          <h3>Categories</h3>
          <div data-role="collapsible-set" data-inset="false" data-iconpos="right" data-theme="b" data-content-theme="d">
            <div data-role="collapsible">
              <h3>jQm demos</h3>
              <ul data-role="listview">
                <li><a href="{{pathFor 'fontAwesomeDemo'}}">Font-awesome demo</a></li>
                <li><a href="{{pathFor 'popupDemo'}}">Popup demos</a></li>
                <li><a href="{{pathFor 'tilesDemo'}}" data-rel="back">Listview tiles demo</a></li>
                <li><a href="{{pathFor 'fixedGear'}}">Fixed Gear</a></li>
              </ul>
            </div><!-- /collapsible -->
            <div data-role="collapsible">
              <h3>Cars (dummy)</h3>
              <ul data-role="listview">
                <li><a href="#">SUV</a></li>
                <li><a href="#">Sport</a></li>
                <li><a href="#">Convertible</a></li>
              </ul>
            </div><!-- /collapsible -->
            <div data-role="collapsible">
              <h3>Boats (dummy)</h3>
              <ul data-role="listview">
                <li><a href="#">Runabout</a></li>
                <li><a href="#">Motorboat</a></li>
                <li><a href="#">Sailboat</a></li>
              </ul>
            </div><!-- /collapsible -->
          </div><!-- /collapsible-set -->
        </div><!-- /collapsible -->
    </div><!-- /panel -->
    <div data-role="panel" id="right-panel" data-position-fixed="true" data-display="overlay" data-position="right" data-theme="c">
        <ul data-role="listview" data-theme="d" data-icon="false">
            <li data-icon="delete"><a href="#" data-rel="close">Close</a></li>
            <li>
              <div data-enhance="false"> 
                <!-- wrapper for login button to disable jQm enhancement (would add the wrong styles to the bootstrap code) -->
                {{loginButtons}}
              </div>
            </li>
            <li data-role="list-divider">Share this page</li>
            <li><a href="https://twitter.com/intent/tweet?&text={{encodeURL shareText}}&url={{encodeURL shareTarget}}"  target="_blank">Twitter</a></li>
            <li><a href="http://www.facebook.com/sharer.php?u={{encodeURL shareTarget}}" target="_blank">Facebook</a></li>
            <li><a href="https://plus.google.com/share?url={{encodeURL shareTarget}}"  target="_blank">Google +</a></li>
            <!-- <li><a href="#"  target="_blank">Mail</a></li> -->
        </ul> 
    </div><!-- /panel -->
</div>

<!-- dialog -->
<div data-role="dialog" id="jQueryPageDialog" data-theme="d" class="ui-responsive-panel" data-close-btn="none">
    <div data-role="header" data-theme="c" data-position="fixed">
      {{yield 'dialogHeader'}}
    </div>
    <div data-role="content">
      {{yield 'dialogContent'}}
    </div>
    <div data-role="footer">
      {{yield 'dialogFooter'}}
    </div>
</div>
</template>