<template name="fixedGear">
  <div class="article">
    <p><img src="/images/bike.jpg" alt="Fixed Gear bike"></p>
    <h2>Fixed Gear</h2>
    <p>A fixed-gear or fixed-wheel bicycle, commonly known as a fixie, is a bicycle that has a drivetrain with no freewheel mechanism. The freewheel was developed early in the history of bicycle design but the fixed-gear bicycle remained the standard track racing design. More recently the 'fixie' has become a popular alternative among mainly urban cyclists, offering the advantages of simplicity compared with the standard multi-geared bicycle.</p>
    <p><small>Source: Wikipedia</small></p>
    <p><a href="#right-panel" data-role="button" data-theme="b" data-inline="true" data-mini="true" data-shadow="false">Share</a></p>
  </div><!-- /article -->
</template>